In [5]:
# this script analysis the older season to get a view of what can work.
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from datafunction import *

In [8]:
#

game = pd.read_csv('../Fantasy-Premier-League/data/2021-22/gws/merged_gw.csv')
new_game = pd.read_csv('../FPLmodels/Fantasy-Premier-League/data/2022-23/gws/merged_gw.csv')
pd.set_option("display.max_columns",None)
sns.set_theme() # To apply basic seaborn theme

(game.query("round == 36 & team == 'Watford'")
.sort_values(by=['name'])
)

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
23742,Adam Masina,DEF,Watford,3.1,0,2,28,1,1.8,390,299,0,0,2.4,22.6,2022-05-11T18:45:00Z,90,8,0,0,0,0,36,0,5182,0,0,0.0,8,-19,19,38,43,True,0,36
23741,Adam Masina,DEF,Watford,3.1,0,0,3,0,0.1,390,356,0,0,0.1,0.6,2022-05-07T14:00:00Z,17,7,0,0,0,0,36,0,5182,0,1,0.0,1,-19,19,38,43,False,0,36
23392,Adedapo Awokoya-Mebude,FWD,Watford,0.0,0,0,0,0,0.0,469,299,0,0,0.0,0.0,2022-05-11T18:45:00Z,0,8,0,0,0,0,36,0,6192,0,0,0.0,0,-25,0,25,45,True,0,36
23391,Adedapo Awokoya-Mebude,FWD,Watford,0.0,0,0,0,0,0.0,469,356,0,0,0.0,0.0,2022-05-07T14:00:00Z,0,7,0,0,0,0,36,0,6192,0,1,0.0,0,-25,0,25,45,False,0,36
23339,Adrian Blake,MID,Watford,2.1,0,0,0,0,0.0,733,299,0,0,0.0,0.0,2022-05-11T18:45:00Z,0,8,0,0,0,0,36,0,0,0,0,0.0,0,0,0,0,45,True,0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23622,Troy Deeney,FWD,Watford,0.0,0,0,0,0,0.0,380,356,0,0,0.0,0.0,2022-05-07T14:00:00Z,0,7,0,0,0,0,36,0,29055,0,1,0.0,0,-35,0,35,54,False,0,36
23355,Vincent Angelini,GK,Watford,-0.5,0,0,0,0,0.0,642,356,0,0,0.0,0.0,2022-05-07T14:00:00Z,0,7,0,0,0,0,36,0,4111,0,1,0.0,0,115,356,241,40,False,0,36
23356,Vincent Angelini,GK,Watford,-0.5,0,0,0,0,0.0,642,299,0,0,0.0,0.0,2022-05-11T18:45:00Z,0,8,0,0,0,0,36,0,4111,0,0,0.0,0,115,356,241,40,True,0,36
23512,William Troost-Ekong,DEF,Watford,-0.1,0,0,0,0,0.0,387,299,0,0,0.0,0.0,2022-05-11T18:45:00Z,0,8,0,0,0,0,36,0,7788,0,0,0.0,0,-18,38,56,43,True,0,36
23511,William Troost-Ekong,DEF,Watford,-0.1,0,0,3,0,0.0,387,356,0,0,0.2,1.6,2022-05-07T14:00:00Z,12,7,0,0,0,0,36,0,7788,0,1,0.0,1,-18,38,56,43,False,0,36

In [9]:
# We have an issue with gameweek 36
gameweek36 =(game.query("round == 36")
                    .sort_values(by=['team','name']))

gameweek36[['name','team']].value_counts()
# so there are players who played twice

# gameweek36.query("name == 'Conor Gallagher'")
#so for players who really played once we will have to assume that they palyed on gameweek 36

name                            team
João Pedro Cavaco Cancelo       Man City          2
Luke Ayling                     Leeds             2
Louie Moulden                   Wolves            2
Lucas Digne                     Aston Villa       2
Lucas Rodrigues Moura da Silva  Spurs             2
                                                 ..
Conor Gallagher                 Crystal Palace    1
Nathaniel Clyne                 Crystal Palace    1
Fraser Forster                  Southampton       1
Nathan Young-Coombes            Brentford         1
Aaron Connolly                  Brighton          1
Length: 734, dtype: int64

In [10]:

gameweek37 =pd.merge(gameweek36
        ,(gameweek36[['name','team','kickoff_time']]
                ) # drop these fields that we do not need
        ,how='left'
        ,left_on=['team','name']
        ,right_on=['team','name']
        ,suffixes=['','_t']
        ).query('kickoff_time > kickoff_time_t') 
#for game week 38 we have 737.

In [6]:

print('gameweek 37 \n',gameweek37.kickoff_time.value_counts().sort_index())
print('total game activity \n',game.query("GW == 36").kickoff_time.value_counts().sort_index() ) #by

gameweek 37
 2022-05-10T19:00:00Z     77
2022-05-11T18:30:00Z     69
2022-05-11T18:45:00Z    164
2022-05-11T19:15:00Z     71
2022-05-12T18:45:00Z     83
Name: kickoff_time, dtype: int64
total game activity
 2022-05-07T14:00:00Z    294
2022-05-07T16:30:00Z     71
2022-05-07T18:45:00Z     74
2022-05-08T13:00:00Z    228
2022-05-08T15:30:00Z     67
2022-05-10T19:00:00Z     77
2022-05-11T18:30:00Z     69
2022-05-11T18:45:00Z    164
2022-05-11T19:15:00Z     71
2022-05-12T18:45:00Z     83
Name: kickoff_time, dtype: int64

In [7]:


kickoff_times = gameweek37.kickoff_time.value_counts().index

In [15]:
# we do this
for kick in kickoff_times:
    game.loc[game['kickoff_time'] == kick,'GW'] =37
    game.loc[game['kickoff_time'] == kick,'round'] =37

In [16]:
# game.select_dtypes(int).describe() # we cant check for specific things using this :)
game.query("round == 36").team.value_counts()

Watford           51
Arsenal           46
Everton           43
Aston Villa       40
Brighton          38
Wolves            38
Norwich           38
Brentford         38
Liverpool         37
Spurs             37
Leeds             36
Newcastle         34
Man Utd           33
Chelsea           33
West Ham          33
Man City          33
Southampton       32
Leicester         32
Crystal Palace    31
Burnley           31
Name: team, dtype: int64

In [10]:
(game
.assign(team            =game.team.astype("category")
        ,position       =game.position.astype("category")
        ,kickoffdate    =pd.to_datetime(game.kickoff_time).dt.date
        ,kickofftime    =pd.to_datetime(game.kickoff_time).dt.time)
.memory_usage(deep=True)
.drop(columns=['kickoff_time'])
.sum()
)

12082982

In [17]:
def modify(df):
    return (df
    .assign(team            =df.team.astype("category")
        ,position       =df.position.astype("category")
        ,kickoffdate    =pd.to_datetime(df.kickoff_time).dt.date
        ,kickofftime    =pd.to_datetime(df.kickoff_time).dt.time)
    .drop(columns=['kickoff_time'])
)
game_mod = modify(game)
game_mod.to_csv('TransformedData/GraphingGW.csv')
# print(f'OLD  ',game.memory_usage(deep=True).sum()) 12916509

In [18]:
# we now focus on teams info

teampoints = (game_mod
.groupby(['team','GW'])
.agg(
    total_points =('total_points','sum')
    )
#.unstack()
)

In [20]:

# above script crashes code, investigate

team = game_mod[['team','GW','kickoffdate','kickofftime','round', 'team_a_score', 'team_h_score','was_home']].drop_duplicates()

team2 = pd.merge(team
        ,teampoints# drop these fields that we do not need
        ,how='left'
        ,left_on=['team','GW']
        ,right_on=['team','GW']
        ,suffixes=['','_t']
        )

#.drop_duplicates()
team2

,team,GW,kickoffdate,kickofftime,round,team_a_score,team_h_score,was_home,total_points
0,Man Utd,1,2021-08-14,11:30:00,1,1,5,True,70
1,Aston Villa,1,2021-08-14,14:00:00,1,2,3,False,33
2,Watford,1,2021-08-14,14:00:00,1,2,3,True,43
3,Southampton,1,2021-08-14,14:00:00,1,1,3,False,28
4,Liverpool,1,2021-08-14,16:30:00,1,3,0,False,77
...,...,...,...,...,...,...,...,...,...
731,Chelsea,38,2022-05-22,15:00:00,38,1,2,True,50
732,Spurs,38,2022-05-22,15:00:00,38,5,0,False,94
733,Arsenal,38,2022-05-22,15:00:00,38,1,5,True,69
734,Burnley,38,2022-05-22,15:00:00,38,2,1,True,25
735,Leicester,38,2022-05-22,15:00:00,38,1,4,True,69

In [21]:
# there is an potential to use goal difference and league position to determine team strenght that we might want to pass on to the model
# Methods are in datafunctions import

from datafunction import home_away

def adder (el):
    '''
    This another function used points in feature build
    '''
    score = pd.Series(el['team_h_score']-el['team_a_score']).apply(points) # so this will return a  pandas series, our evaluation returns a series. So we need to do our evaluation right over here
    score_a = pd.Series(el['team_a_score']-el['team_h_score']).apply(points) 
    combine = {'Home':score, 'Away':score_a,'was_home':el['was_home']}
    df = pd.DataFrame(combine).apply(home_away,axis=1) #.apply(home_away)

    return df

team2['Points'] = team2.pipe(adder) #.apply(home_away) # this argument passes itself as an instance
team2['Tally_Points'] = team2.sort_values(by=['team','GW']).groupby('team')['Points'].cumsum()

In [22]:
# Self join to get the major attributes
T1 = pd.merge(game
        ,(team2.drop(['team_a_score','team_h_score','was_home','Points','GW'], axis=1)
                .rename(columns={'total_points':'Total_Team_points'})) # drop these fields that we do not need
        ,how='left'
        ,left_on=['team','round']
        ,right_on=['team','round']
        ,suffixes=['','_t']
        )
T1 # we need to figure out a way to find the opposing team

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,kickoffdate,kickofftime,Total_Team_points,Tally_Points
0,Eric Bailly,DEF,Man Utd,0.0,0,0,0,0,0.0,286,6,0,0,0.0,0.0,2021-08-14T11:30:00Z,0,10,0,0,0,0,1,0,9363,1,5,0.0,0,0,0,0,50,True,0,1,2021-08-14,11:30:00,70,3
1,Keinan Davis,FWD,Aston Villa,0.4,0,0,0,0,0.0,49,8,0,0,0.0,0.0,2021-08-14T14:00:00Z,0,18,0,0,0,0,1,0,169789,2,3,0.0,0,0,0,0,45,False,0,1,2021-08-14,14:00:00,33,0
2,Ayotomiwa Dele-Bashiru,MID,Watford,0.0,0,0,0,0,0.0,394,8,0,0,0.0,0.0,2021-08-14T14:00:00Z,0,2,0,0,0,0,1,0,4092,2,3,0.0,0,0,0,0,45,True,0,1,2021-08-14,14:00:00,43,3
3,James Ward-Prowse,MID,Southampton,2.3,0,0,20,0,30.5,341,4,3,0,5.2,21.6,2021-08-14T14:00:00Z,90,8,0,0,0,0,1,0,299682,1,3,0.0,2,0,0,0,65,False,0,1,2021-08-14,14:00:00,28,0
4,Bruno Miguel Borges Fernandes,MID,Man Utd,4.4,0,3,61,0,35.9,277,6,1,3,20.1,106.2,2021-08-14T11:30:00Z,90,10,0,0,0,0,1,0,3381004,1,5,59.0,20,0,0,0,120,True,0,1,2021-08-14,11:30:00,70,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27708,Wilfred Ndidi,MID,Leicester,0.0,0,0,0,0,0.0,216,377,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,16,0,0,0,0,38,0,70366,1,4,0.0,0,-202,22,224,48,True,0,38,2022-05-22,15:00:00,69,48
27709,Matt Ritchie,DEF,Newcastle,0.9,0,0,3,0,0.0,292,374,0,0,0.0,0.0,2022-05-22T15:00:00Z,1,5,0,0,0,0,38,0,15999,2,1,0.0,1,143,396,253,49,False,0,38,2022-05-22,15:00:00,41,46
27710,Nathan Redmond,MID,Southampton,3.4,0,0,5,0,0.0,336,377,3,0,0.0,0.0,2022-05-22T15:00:00Z,82,9,0,0,0,0,38,0,13856,1,4,0.0,2,455,683,228,59,False,0,38,2022-05-22,15:00:00,23,40
27711,Mathew Ryan,GK,Brighton,0.0,0,0,0,0,0.0,65,373,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,19,0,0,0,0,38,0,587,1,3,0.0,0,-2,0,2,45,True,0,38,2022-05-22,15:00:00,52,50
27712,Ryan Fredericks,DEF,West Ham,0.2,0,0,0,0,0.0,415,373,0,0,0.0,0.0,2022-05-22T15:00:00Z,0,4,0,0,0,0,38,0,8856,1,3,0.0,0,36,103,67,44,False,0,38,2022-05-22,15:00:00,25,55

In [23]:
# Self join the data to get 
T2 = (pd.merge(T1
                ,T1[['name','GW','total_points','was_home','Total_Team_points']]
                ,left_on=['name'] 
                ,right_on=['name']
                ,suffixes=("","_step")
                ).query("GW - GW_step == -1")
        .assign(was_home_ind =lambda x:T1['was_home'].replace({False: 0,True:1})) 
        #.assign(was_home_step_ind =lambda x:T1['was_home_step'].replace({False: 0,True:1})) 
        .drop(columns=['GW_step'])  #only need this for the join
        )

In [24]:

T2.describe()

,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,yellow_cards,GW,Total_Team_points,Tally_Points,total_points_step,Total_Team_points_step,was_home_ind
count,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,2.974900e+04,29749.000000,29749.000000,29749.000000,29749.000000,2.974900e+04,2.974900e+04,2.974900e+04,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,29749.000000,727.000000
mean,1.435134,0.035497,0.095465,5.359911,0.094558,4.249259,339.601096,201.400047,0.469898,0.039531,1.571165,6.492648,29.336784,10.468991,0.001445,0.000740,0.000403,0.001177,21.493596,0.087499,1.924060e+05,1.314195,1.493227,4.978386,1.218159,3.267974e+03,1.595917e+04,1.269000e+04,50.804464,0.049918,21.493596,50.193822,27.556422,1.212411,49.418838,0.467675
std,2.391612,0.203218,0.463139,9.382504,0.292608,10.049752,197.326165,98.016035,0.976948,0.217055,2.933461,12.383851,39.833626,5.813020,0.037992,0.027185,0.020080,0.034281,10.103329,0.603184,4.746088e+05,1.272587,1.330589,13.054770,2.442193,6.618637e+04,5.947493e+04,4.653246e+04,12.469543,0.217778,10.103329,28.303947,17.280421,2.412380,26.894792,0.499298
min,-2.000000,0.000000,0.000000,-16.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,-4.000000,-1.857821e+06,0.000000e+00,0.000000e+00,37.000000,0.000000,1.000000,-1.000000,0.000000,-4.000000,-1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,166.000000,124.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000,4.718000e+03,0.000000,0.000000,0.000000,0.000000,-9.090000e+02,3.900000e+01,1.060000e+02,44.000000,0.000000,13.000000,27.000000,15.000000,0.000000,29.000000,0.000000
50%,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,337.000000,215.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,24.000000,0.000000,2.351300e+04,1.000000,1.000000,0.000000,0.000000,-2.700000e+01,4.020000e+02,9.270000e+02,47.000000,0.000000,24.000000,47.000000,24.000000,0.000000,45.000000,0.000000
75%,2.300000,0.000000,0.000000,8.000000,0.000000,1.700000,505.000000,278.000000,1.000000,0.000000,2.200000,9.000000,88.000000,16.000000,0.000000,0.000000,0.000000,0.000000,29.000000,0.000000,1.397330e+05,2.000000,2.000000,2.000000,1.000000,1.670000e+02,5.444000e+03,7.270000e+03,54.000000,0.000000,29.000000,64.000000,39.000000,2.000000,63.000000,1.000000
max,21.600000,4.000000,3.000000,128.000000,1.000000,136.200000,734.000000,364.000000,7.000000,4.000000,31.500000,163.400000,90.000000,20.000000,1.000000,1.000000,1.000000,1.000000,37.000000,10.000000,6.467029e+06,6.000000,7.000000,148.000000,24.000000,1.983733e+06,2.104464e+06,1.872898e+06,133.000000,1.000000,37.000000,164.000000,89.000000,24.000000,164.000000,1.000000

In [25]:

#adding one hot indicator for position
T2 = pd.get_dummies(data = T2,columns=["position"], prefix=["ind"])

In [26]:
# T1.minutes


T2['playtime'] = T2['minutes'].apply(playtime) # need to figure out how to chain this.
T2.to_csv('TransformedData/GWF.csv')  # We save our info nicely here for modeling and graphs

In [22]:
new_game['team'].unique()

array(['Southampton', 'Bournemouth', 'Chelsea', 'Newcastle', 'Leicester',
       "Nott'm Forest", 'Crystal Palace', 'Wolves', 'Brentford', 'Spurs',
       'West Ham', 'Liverpool', 'Leeds', 'Fulham', 'Brighton', 'Man City',
       'Man Utd', 'Everton', 'Arsenal', 'Aston Villa'], dtype=object)

In [19]:
def team_diff(row):
    return row['Tally_Points_step']

In [21]:
T2.query("team =='Man City' & round == 4")

,name,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,kickoffdate,kickofftime,Total_Team_points,Tally_Points,total_points_step,was_home_step,Total_Team_points_step,was_home_ind,ind_DEF,ind_FWD,ind_GK,ind_MID
35219,Ederson Santana de Moraes,Man City,5.5,0,0,24,1,0.0,257,37,0,0,1.9,19.0,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,2,767438,1,0,0.0,6,-53341,51210,104551,60,False,0,4,2021-09-11,14:00:00,61,9,8,True,54,NaN,0,0,1,0
46773,Ilkay Gündogan,Man City,4.5,0,0,18,1,62.4,250,37,0,0,16.4,15.0,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,435851,1,0,87.0,3,25742,103545,77803,73,False,0,4,2021-09-11,14:00:00,61,9,3,True,54,NaN,0,0,0,1
95983,Fernando Luiz Rosa,Man City,1.3,0,0,3,0,0.3,453,37,0,0,0.7,2.6,2021-09-11T14:00:00Z,6,9,0,0,0,0,4,0,32694,1,0,4.0,1,-5116,4273,9389,50,False,0,4,2021-09-11,14:00:00,61,9,3,True,54,NaN,0,0,0,1
191406,João Pedro Cavaco Cancelo,Man City,7.0,1,3,39,1,26.8,256,37,0,0,6.2,19.2,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,565871,1,0,16.0,12,-11567,72149,83716,60,False,0,4,2021-09-11,14:00:00,61,9,6,True,54,NaN,1,0,0,0
213744,Aymeric Laporte,Man City,6.7,0,0,25,1,19.8,259,37,0,0,4.7,19.2,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,393601,1,0,8.0,5,111017,180378,69361,55,False,1,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,1,0,0,0
254336,Kevin De Bruyne,Man City,0.5,0,0,0,0,0.0,251,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,97534,1,0,0.0,0,-38037,4619,42656,119,False,0,4,2021-09-11,14:00:00,61,9,1,True,54,NaN,0,0,0,1
257386,Raheem Sterling,Man City,3.0,0,0,0,0,10.3,255,37,0,0,2.3,1.2,2021-09-11T14:00:00Z,26,9,0,0,0,0,4,0,159153,1,0,11.0,1,-57749,8549,66298,109,False,0,4,2021-09-11,14:00:00,61,9,3,True,54,NaN,0,0,0,1
290111,Benjamin Mendy,Man City,0.0,0,0,0,0,0.0,253,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,46032,1,0,0.0,0,-21682,1032,22714,54,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,1,0,0,0
408550,John Stones,Man City,0.5,0,0,0,0,0.0,252,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,431989,1,0,0.0,0,-145879,11986,157865,53,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,1,0,0,0
413044,Gabriel Fernando de Jesus,Man City,7.0,0,0,1,1,13.3,263,37,0,0,6.5,9.6,2021-09-11T14:00:00Z,83,9,0,0,0,0,4,0,535501,1,0,42.0,2,148095,292545,144450,86,False,0,4,2021-09-11,14:00:00,61,9,2,True,54,NaN,0,1,0,0
443898,Rodrigo Hernandez,Man City,3.5,0,0,9,1,15.1,266,37,0,0,2.3,5.4,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,56613,1,0,2.0,2,15053,25118,10065,55,False,1,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,0,1
483029,Oleksandr Zinchenko,Man City,1.0,0,0,0,0,0.0,264,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,89790,1,0,0.0,0,-12196,4864,17060,54,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,1,0,0,0
523870,Riyad Mahrez,Man City,3.5,0,0,0,0,0.0,254,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,357411,1,0,0.0,0,-163692,27070,190762,89,False,0,4,2021-09-11,14:00:00,61,9,1,True,54,NaN,0,0,0,1
564613,Zack Steffen,Man City,0.0,0,0,0,0,0.0,260,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,15983,1,0,0.0,0,-2309,974,3283,45,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,1,0
626484,Cole Palmer,Man City,0.7,0,0,0,0,0.0,507,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,5342,1,0,0.0,0,468,1596,1128,45,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,0,1
632766,Kyle Walker,Man City,3.7,0,0,25,1,3.2,249,37,0,0,5.8,19.8,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,442166,1,0,35.0,6,-33966,37845,71811,55,False,0,4,2021-09-11,14:00:00,61,9,6,True,54,NaN,1,0,0,0
672300,Jack Grealish,Man City,5.0,0,0,14,1,52.1,33,37,0,0,9.8,14.0,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,1716488,1,0,32.0,3,-94395,256416,350811,80,False,0,4,2021-09-11,14:00:00,61,9,3,True,54,NaN,0,0,0,1
677466,Rúben Santos Gato Alves Dias,Man City,7.0,0,1,28,1,23.3,262,37,0,0,4.2,14.4,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,2081783,1,0,4.0,7,-22768,184313,207081,60,False,0,4,2021-09-11,14:00:00,61,9,8,True,54,NaN,1,0,0,0
692985,Bernardo Mota Veiga de Carvalho e Silva,Man City,4.7,0,2,35,1,44.3,261,37,0,1,17.2,53.4,2021-09-11T14:00:00Z,90,9,0,0,0,0,4,0,84024,1,0,74.0,10,-4423,6202,10625,69,False,0,4,2021-09-11,14:00:00,61,9,3,True,54,NaN,0,0,0,1
756060,Nathan Aké,Man City,1.0,0,0,0,0,0.0,258,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,32517,1,0,0.0,0,-6516,2338,8854,49,False,0,4,2021-09-11,14:00:00,61,9,6,True,54,NaN,1,0,0,0
851001,Ferran Torres,Man City,7.0,0,0,3,1,6.5,268,37,0,0,7.4,0.2,2021-09-11T14:00:00Z,63,9,0,0,0,0,4,0,1278882,1,0,67.0,3,995975,1193587,197612,71,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,0,1
891995,Phil Foden,Man City,0.1,0,0,0,0,0.0,265,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,50573,1,0,0.0,0,-7849,1601,9450,79,False,0,4,2021-09-11,14:00:00,61,9,1,True,54,NaN,0,0,0,1
904353,Samuel Edozie,Man City,0.5,0,0,0,0,0.0,508,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,1392,1,0,0.0,0,-192,159,351,50,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,0,1
951128,Tommy Doyle,Man City,0.0,0,0,0,0,0.0,566,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,504,1,0,0.0,0,-26,228,254,45,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,0,1
1018591,Scott Carson,Man City,1.5,0,0,0,0,0.0,593,37,0,0,0.0,0.0,2021-09-11T14:00:00Z,0,9,0,0,0,0,4,0,33682,1,0,0.0,0,29555,39819,10264,40,False,0,4,2021-09-11,14:00:00,61,9,0,True,54,NaN,0,0,1,0